
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Oswald';
}
a {
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    background-color: brown;
}

nav a {
    padding:10px;
    display: inline-block;
}

nav a:hover{
    background-color: white;
    color: black;
}

.brand {
  font-weight: bolder;
  border-right: 3px solid white;
}
.links {
    flex-grow: 1;
}
#ad{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 70vh;
    background-position: right;
    background-image: url("../images/istockphoto.jpg");
    background-size: cover;
}

#ad h1 {
    font-size: 50px;
    margin-top: 0px;
}

#ad p {
    font-size: 25px;
}

#menu {
 text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item{
    margin: 5px;
}
.card {
    position: relative;
    border: 1px solid white;
    width: 300px;
}

.discount{
    display: inline-block;
    position: absolute;
    padding: 0px 5px;
    top:5px;
    left: 5px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.699);

}
.card-image{
    height: 200px;
    background-position: center;
    background-size: cover;
}
.card-body {
    margin: 15px;
}
.card img {
    max-width:100%;
}
@media screen and (max-width: 550px){
    #ad{
        background-position: center;
        height: 50vh;
    }

    #ad h1 {
        font-size: 25px;
        margin-top: 0px;
    }
    
    #ad p {
        font-size: 15px;
    }
}

.price {
    color:rgb(61, 143, 61);
}

.cart {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswlad';
}
.add {
    background-color: orange;
    border: 0px;
    font-family: 'Oswald';
}


.add:hover{
    background-color: rgb(238, 185, 87);

}

footer {
    background-color: brown;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}

@media screen and (max-width: 360px){
    .brand{
        display: none;
    }
}

@media screen and (min-width: 501px){
    .flex-item{
        width:47%
    }
}
@media screen and (min-width: 700px){
    .flex-item{
        width:30%
    }
}
@media screen and (min-width: 1200px){
    .flex-item{
        width:300px;
    }
}
@media screen and (max-width: 500px){
    .flex-item{
        width:100%
    }
}